body    {
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #ffffff;
    

}

h1{
    display: flex;
    font-size: 50px;
    justify-content: center;
    

}

#calcBody{


    background-color: rgb(1, 53, 112);
    width: 300px;
    height: auto;
    margin: auto;
    
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -5px 6px 7px grey;
    
}


#calcGrid{

    
    display: grid;
    grid-template-areas: 
    "operand5 operand7 operand4 operand3"
    "digit0 digit1 digit2 operand1"
    "digit3 digit4 digit5 operand2"
    "digit6 digit7 digit8 operand6"
    "digit9 digit9 digit9 operand6"
    ;
    
    
}

div button{

    font-size: 25px;


}

#display{

    background-color: rgb(40, 240, 0);
    text-align: end;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px 8px 8px 8px;
    font-size: 35px;

    overflow: hidden;

    height: 30px;


/* 
    display: flex;
    flex-direction: column; */


}

#calcInner{

    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: 15px;
    
    /* background-color: aqua; */

}

.operation1{

    grid-area: operand1;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px;
    
}

.operation2{

    grid-area: operand2;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px;
}

.operation3{

    grid-area: operand3;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px;
}

.operation4{

    grid-area: operand4;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px; 
}

.operation5{

    grid-area: operand5;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px; 
}

.operation6{

    grid-area: operand6;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px; 
}

.operation7{

    grid-area: operand7;
    background-color: orange;
    padding-bottom: 10px;
    margin: 4px; 
}

.digit0{

    grid-area: digit0;
    margin: 4px;

}

.digit1{

    grid-area: digit1;
    margin: 4px;
}

.digit2{

    grid-area: digit2;
    margin: 4px;
}

.digit3{

    grid-area: digit3;
    margin: 4px;
}

.digit4{

    grid-area: digit4;
    margin: 4px;

}

.digit5{

    grid-area: digit5;
    margin: 4px;

}

.digit6{

    grid-area: digit6;
    margin: 4px;

}

.digit7{

    grid-area: digit7;
    margin: 4px;

}

.digit8{

    grid-area: digit8;
    margin: 4px;

}

.digit9{

    grid-area: digit9;
    margin: 4px;

}

